<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Honememo.MatchingApiExample.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Honememo.MatchingApiExample.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Honememo.MatchingApiExample.Client.Properties.Settings>
            <setting name="Url" serializeAs="String">
                <value>http://localhost:5000/</value>
            </setting>
            <setting name="PlayerId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </Honememo.MatchingApiExample.Client.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Honememo.MatchingApiExample.Client.Properties.Settings>
            <setting name="CandidateNames" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>太郎</string>
                        <string>次郎</string>
                        <string>三郎</string>
                        <string>花子</string>
                        <string>ジョン</string>
                        <string>マイク</string>
                        <string>トミー</string>
                        <string>マイケル</string>
                        <string>アリス</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Honememo.MatchingApiExample.Client.Properties.Settings>
    </applicationSettings>
</configuration>